
@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <center>
            <h1>Suma de 2 números</h1>
            <br /><br />
                  <form name="frmSuma" action="CalcularSuma" method="post">
                      <label>Ingrese  A:</label>
                      <input type="text" name="numero1" /><br />

                      <label>Ingrese  B:</label>
                      <input type="text" name="numero2" /><br />
                      <input type="submit" value="Calcular"/>
                  </form>
        </center>
    </div>
</body>
</html>
